body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

/* utility */
.float-left {
  float: left;
}
.wrapper_30 {
  width: 30%;
}
.wrapper_70 {
  width: 70%;
}
.margin_top_60 {
  margin-top: 60px;
}
.margin_top_50 {
  margin-top: 50px;
}
.margin_bottom_80 {
  margin-bottom: 80px;
}
.margin_0_auto {
  margin: 0 auto;
}
.line_height_100 {
  line-height: 100px;
}
/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1030;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
}
.header_bottom {
  margin-top: 50px;
  background-image: url(../img/back_jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* navbar */
ul.nav_list li a {
  text-decoration: none;
  color: rgb(3, 27, 78);
  margin-right: 5px;
}
ul.nav_list li a i{
  font-size: 0.7em;
}
ul.nav_list li a:hover,
ul.nav_list li a:active,
ul.nav_list li a:focus {
  color: rgb(10, 69, 245);
}
.btn_blue {
  border-color: rgb(10, 69, 245);
  color: rgb(10, 69, 245);
}
.btn_blue:hover,
.btn_blue:active,
.btn_blue:focus {
  background-color: rgb(10, 69, 245);;
  color: rgb(255, 255, 255);
}
.logo_container {
  width: 100%;
  height: 100px;
  background-color: purple;
}
.nav_logo {
  height: 40px;
}
.ham_blue .glyphicon{
  vertical-align: middle;
  color: rgb(56, 89, 228);
}
/* jumbotron */
.jumbo_title {
  margin-top: 70px;
  font-size: 3.7em;
  color: rgb(255, 255, 255);
}
.jumbo_text {
  margin-bottom: 70px;
  font-size: 1.3em;
  color: rgb(215, 213, 213);
}
.login_container {
  margin: 70px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.login_container h3 {
  color: rgb(3, 27, 78);
}
.login_container p {
  color: rgb(3, 27, 78);
  font-size: 0.8em;
  margin-top: 20px;
}
.login_container p a{
  text-decoration: underline;
}
h3.get_now {
  color: rgb(56, 89, 228);
}
.btn_create,
.btn_password {
  padding: 20px;
  font-size: 1.1em;
}
.google_btn img {
  height: 20px;
  position: absolute;
  left: 50px;
}
/* main */
/* prima section */
#logo {
  background-color: rgb(241, 241, 241);
}
#logo h4{
  margin-top: 50px;
  font-size: 1.3em;
  color: rgb(180, 180, 180);
}
.section_logo {
  width: calc((100% / 6) - 20px);
  margin-right: 10px;
}

#cs_story {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 500;
  color: #0069ff;
  line-height: 20px;
  text-decoration: none;
}
#cs_story span {
  vertical-align: middle;
  font-size: 0.7em;
}
/* seconda section */
#deploy {
  background-color: rgb(255, 255, 255);
}
.section_list {
  border-left: 2px solid rgb(180, 180, 180);
  padding-left: 10px;
}
.section_list ul {
  list-style: none;
  padding: 0;
}
.section_list ul li{
  margin: 5px 0;
  font-size: 1.1em;
  color: rgb(180, 180, 180);
}
.section_list ul li:first-child {
  margin-top: 10px;
}
.section_list ul li:last-child {
  margin-bottom: 10px;
}
.wrapper_70.float-left.wrapper_xs_100 img {
  margin-bottom: 15px;
}
/* terza section */
#designed {
  background-color: rgb(241, 241, 241);
}
#designed h3 {
  color: rgb(18, 23, 62);
  font-size: 1.8em;
  margin-bottom: 30px;
}
#designed p {
  color: rgb(186, 182, 182);
  font-size: 1.4em;
}
.slider_container {
  position: relative;
  margin: 50px 0 25px;
}
.slider_img img {
  width: 95%;
}
.left_arrow {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  font-size: 3em;
  color: rgb(110, 112, 122);
}
.right_arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  font-size: 3em;
  color: rgb(18, 23, 62);
}
.slider h5 {
  color: rgb(18, 23, 62);
  font-size: 1.2em;
}
.slider_icon i {
  color: #0069ff;
  font-size: 0.9em;
}
/* quarta section */
#features {
  background-color: rgb(255, 255, 255);
}
#features h3 {
  color: rgb(18, 23, 62);
  font-size: 1.8em;
}
.features_box {
  margin-top: 30px;
  margin-bottom: 80px;
}
.features_box h5 {
  font-size: ;
  color: rgb(18, 23, 62);
}
/* quinta section */
#world {
  height: 400px;
  background-color: lightgrey;
}
/* sesta section */
#development {
  background-color: rgb(241, 241, 241);
}
#development h3 {
  color: rgb(18, 23, 62);
  font-size: 1.8em;
}

/* settima section */
#get_started {
  height: 200px;
  background-color: lightyellow;
}
/* footer */
footer {
  background-color: purple;
  height: 400px;
}

/* media query */
@media screen and (max-width: 480px) {
  .nav_logo {
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper_xs_100 {
    width: 100%;
  }
  .jumbo_title {
    font-size: 3.2em;
  }
  #logo h4{
    font-size: 0.9em;
  }
  .section_logo {
    width: calc((100% / 2) - 20px);
    margin-right: 10px;
  }
  #cs_story {
    font-size: 0.8em;
  }
  #cs_story span {
    font-size: 0.8em;
  }
  .wrapper_70.float-left.wrapper_xs_100 img {
    margin-top: 15px;
  }
  .left_arrow {
    font-size: 1.1em;
  }
  .right_arrow {
    font-size: 1.1em;
  }
  .slider_icon i {
    color: #0069ff;
    font-size: 0.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .left_arrow {
    font-size: 1.8em;
  }
  .right_arrow {
    font-size: 1.8em;
  }
  .slider_icon i {
    color: #0069ff;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 992px){
  .features_box {
    margin-top: 15px;
    margin-bottom: 40px;
  }
}
