body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

/* utility */
.float-left {
  float: left;
}
.wrapper_30 {
  width: 30%;
}
.wrapper_70 {
  width: 70%;
}
.margin_0_auto {
  margin: 0 auto;
}
/* header */
header {

}
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1030;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
}
.header_bottom {
  margin-top: 50px;
  background-image: url(../img/back_jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* navbar */
ul.nav_list li a {
  text-decoration: none;
  color: rgb(3, 27, 78);
  margin-right: 5px;
}
ul.nav_list li a i{
  font-size: 0.7em;
}
ul.nav_list li a:hover,
ul.nav_list li a:active,
ul.nav_list li a:focus {
  color: rgb(10, 69, 245);
}
.btn_blue {
  border-color: rgb(10, 69, 245);
  color: rgb(10, 69, 245);
}
.btn_blue:hover,
.btn_blue:active,
.btn_blue:focus {
  background-color: rgb(10, 69, 245);;
  color: rgb(255, 255, 255);
}
.logo_container {
  width: 100%;
  height: 100px;
  background-color: purple;
}
.nav_logo {
  height: 40px;
}
.ham_blue .glyphicon{
  vertical-align: middle;
  color: rgb(56, 89, 228);
}
/* jumbotron */
.jumbo_title {
  margin-top: 70px;
  font-size: 3.7em;
  color: rgb(255, 255, 255);
}
.jumbo_text {
  margin-bottom: 70px;
  font-size: 1.1em;
  color: rgb(215, 213, 213);
}
.login_container {
  margin: 70px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.login_container h3 {
  color: rgb(3, 27, 78);
}
h3.get_now {
  color: rgb(56, 89, 228);
}
.btn_create,
.btn_password {
  padding: 20px;
  font-size: 1.1em;
}
.google_btn img {
  height: 20px;
}
/* main */
main {
  height: 2100px;
}
.logo {
  height: 200px;
  background-color: grey;
}
.deploy {
  height: 400px;
  background-color: brown;
}
.designed {
  height: 400px;
  background-color: red;
}
.features {
  height: 200px;
  background-color: green;
}
.world {
  height: 400px;
  background-color: lightgrey;
}
.development {
  height: 300px;
  background-color: lightgreen;
}
.get_started {
  height: 200px;
  background-color: lightyellow;
}
/* footer */
footer {
  background-color: purple;
  height: 400px;
}

/* media query */
@media screen and (max-width: 768px) {
  .wrapper_xs_100 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .nav_logo {
    height: 25px;
  }
}
